body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  main {
    flex-grow: 1;
  }
  
  .imgCarousel
  {
    height: 500px;
    object-fit: cover;
  }

  .divHeading
  {
    height: 130px;
    width: 130px;
    border-radius: 100%;
    background-color: lightgray;
  }

  .divFeaturette
  {
    height: 500px;
    width: 500px;
    background-color: rgb(63, 66, 70);
    font-size: 50px;
  }

  /* Media querie small y medium */

  @media screen and (max-width: 991px) {
    #articleFeaturette
    {
      display: flex;
      justify-content: center;
    }

    .divFeaturette
    {
      height: 250px;
      width: 250px;
    }
  }
